/* src/styles/GlobalStyles.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #1A1A2E;
  color: white;
  overflow-x: hidden;
}

/* Efecto neón para textos */
.neon-text {
  text-shadow: 
    0 0 5px #00E0FF,
    0 0 10px #6E48AA,
    0 0 20px #FF7E5F;
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  z-index: 10;
}

#inputPrincipal{
  z-index: 200;
}